# Binaries for programs and plugins
back/*.exe
back/*.exe~
back/*.dll
back/*.so
back/*.dylib

# Test binary, built with "go test -c"
back/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
back/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
back/go.work
back/tmp/

# IDE specific files
.vscode
.idea
back/.env
back/main
